%html
  %head
    %title IR Dashboard v0.1
  %link{:rel => "stylesheet", :href => "/stylesheet.css", :type => "text/css", :media => "all"}

  %body
  #main/
  %h2 The last movie I saw was: #{@movie}, #{@imdb.poster}, #{@imdb.results}
  %img{:src => "#{@imdb.poster}", :class => "poster"}
  %p See all the movies I've watched in 2012 at the <a href="#{@imdb.url}">IMDb Movie List</a>
  %h2 The last post was from <a href="#{@wp.url}">infiniteregress.org</a>:
  %p #{@wp.to_html}
  %h2 Last tumblr from <a href="#{@tumblr.url}">blog.ntimsalazar.com</a> was: #{@tumblr.to_html}
  
